<tr class="heading">
  <td class="heading-name">
    <%= block.name %>
  </td>
</tr>

<% block.accounts.each_with_index do |acct, index| %>

  <% if @dates && @dates.all?                        %>
  <%   balance = acct.change(*@dates)                %>
  <% else                                            %>
  <%   balance = acct.balance(@date)                 %>
  <% end                                             %>

  <%= render :partial => "financial_statements/row", :locals => {
    :row_type => "account",
    :name => acct.name,
    :balance => balance,
    :indent => indent
  } %>
<% end %>

<%= render :partial => "financial_statements/row", :locals => {
  :row_type => "total",
  :name => "Total #{block.name}",
  :balance => (@dates && @dates.all? ? block.total(*@dates) : block.total(@date)),
  :indent => indent + 1,
  :classes => "total-#{block.name.parameterize}"
} %>
