<% row_classes = "#{row_type} #{local_assigns.fetch(:classes, "")}".strip %>
<tr class="<%= row_classes %>">
  <td class="<%= row_type %>-name"><%= name %></td>
  <% indent.times do %><td /><% end %>
  <td class="<%= row_type %>-balance"><%= format_balance(balance) %></td>
</tr>
