<div class="fin-statement-header">
  <div class="headings">
    <h2>Alexander Lang</h2>
    <h1>Balance sheet</h1>
    <h2><%= date_format_human(@date) %></h2>
  </div>
</div>

<% total_assets = @current_assets.total(@date) + @long_term_assets.total(@date) %>
<% total_liabilities = @current_liabilities.total(@date) + @long_term_liabilities.total(@date) %>



<table id="financial-table">
  <%= render :partial => "financial_statements/block", :locals => { :indent => 0, :block => @current_assets } %>
  <%= render :partial => "financial_statements/block", :locals => { :indent => 0, :block => @long_term_assets } %>

  <%= render :partial => "financial_statements/row", :locals => {
    :row_type => "total",
    :name => "Total Assets",
    :balance => total_assets,
    :indent => 2,
    :classes => "total-assets"
  } %>


  <%= render :partial => "financial_statements/block", :locals => { :indent => 0, :block => @current_liabilities } %>
  <%= render :partial => "financial_statements/block", :locals => { :indent => 0, :block => @long_term_liabilities } %>

  <%= render :partial => "financial_statements/row", :locals => {
    :row_type => "total",
    :name => "Total Liabilities",
    :balance => total_liabilities,
    :indent => 2,
    :classes => "total-liabilities"
  } %>


  <%= render :partial => "financial_statements/row", :locals => {
    :row_type => "total",
    :name => "Net Worth",
    :balance => total_assets - total_liabilities,
    :indent => 2,
    :classes => "net-worth"
  } %>

</table>
