<div class="fin-statement-header">
  <div class="headings">
    <h2>Alexander Lang</h2>
    <h1>Income statement</h1>
    <h2><%= date_format_human(@dates.first) %> to <%= date_format_human(@dates.second) %></h2>
  </div>
</div>

<% total_expenses = @legit_expenses.total(*@dates) + @optional_expenses.total(*@dates) + @retarded_expenses.total(*@dates) + @misc_expenses.total(*@dates) %>


<table id="financial-table">
  <%= render :partial => "financial_statements/block", :locals => { :indent => 1, :block => @revenue } %>

  <%= render :partial => "financial_statements/block", :locals => { :indent => 0, :block => @legit_expenses } %>
  <%= render :partial => "financial_statements/block", :locals => { :indent => 0, :block => @optional_expenses } %>
  <%= render :partial => "financial_statements/block", :locals => { :indent => 0, :block => @retarded_expenses } %>
  <%= render :partial => "financial_statements/block", :locals => { :indent => 0, :block => @misc_expenses } %>

  <%= render :partial => "financial_statements/row", :locals => {
    :row_type => "total",
    :name => "Total Expenses",
    :balance => total_expenses,
    :indent => 2,
    :classes => "total-expenses"
  } %>

  <%= render :partial => "financial_statements/row", :locals => {
    :row_type => "total",
    :name => "Net Income",
    :balance => @revenue.total(*@dates) - total_expenses,
    :indent => 2,
    :classes => "net-income"
  } %>

</table>
