// Place all the styles related to the FinancialStatements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fin-statement-header {
  .headings {
    h1, h2 {
      text-align: center;
    }
  }
}

#financial-table {
  margin: auto;
  td.account-balance {
    text-align: right;
  }

  td.total-balance {
    text-align: right;
  }
}
